<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kristian Kyvik Ruiz</title>
  <meta name="description" content="datajobs">
  <meta name="author" content="Kristian Kyvik Ruiz">
  <meta name="keywords" content="kristian, kyvik, ruiz, kristian kyvik, web development, trondheim, wed design, programmer trondheim, ntnu, angularJS, responsive design">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="row">
      <div id="app">

      </div>
    </div>
  </div>
   <script src="index.js"></script>

</body>
</html>
