<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kristian Kyvik Ruiz</title>
  <meta name="description" content="datajobs">
  <meta name="author" content="Kristian Kyvik Ruiz">
  <meta name="keywords" content="kristian, kyvik, ruiz, kristian kyvik, web development, trondheim, wed design, programmer trondheim, ntnu, angularJS, responsive design">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>
<body>
  <div class="container">
    <div class="nav">
      <div class="left">
        <div class="brand"></div>
        <div class="tagline"></div>
      </div>
      <div class="search">
        <input type="text" placeholder="search jobs bro">
      </div>
    </div>
    <div class="row">
      <div class="nine columns">
        <div id="app">
        </div>
      </div>
      <div class="three columns sidebar">
      </div>
    </div>
  </div>
  <script src="index.js"></script>
  <script src="https://use.typekit.net/vvk2ima.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>

<!--       <div class="header">
        <div class="filters">
          <div class="filter">
            Stats
          </div>
          <div class="filter">
            Query & Report
          </div>
          <div class="filter">
            DB Admin
          </div>
          <div class="filter">
            DB Mgmt
          </div>
          <div class="filter">
            Data Integration
          </div>
        </div>
      </div> -->
